{
  "env": {
    "browser": true,
    "jest": true,
    "es6": true,
    "serviceworker": false
  },
  "extends": ["plugin:react/recommended", "eslint:recommended"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "no-console": "warn",
    "no-eval": "error",
    "import/first": 0
  },
  "plugins": ["react", "jsx-a11y"]
}
